@model FullstackCourse.ViewModels.GigFormViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<h2>Create</h2>

 
<form>
    <div class="form-group">
        <!-- Here we create label and a text box and then refer to what method we are creating this for.
            m  in this refers to Models and then m.venu refers to the method venu in the package model
             . The method itself is located in IdentityModels.cs class-->
        @Html.LabelFor(m => m.Venu)
        @Html.TextBoxFor(m => m.Venu, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Date)
        @Html.TextBoxFor(m => m.Date, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Time)
        @Html.TextBoxFor(m => m.Time, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Genre)
        <!-- The reason we add "" after name is to make the list start at a blank
            , and the last argument (form-control) is to make it look like
            bootstrap. -->
        @Html.DropDownListFor(m => m.Genre, new SelectList(Model.Genres, "Id", "Name"), "", new { @class = "form-control" })
    </div> 
    <button type="submit" class="btn btn-primary">Save</button>

</form>